.Inicio{
    margin: 500px;
    width: 200px;
    .ol{
        text-align: center;
        width: 200;
    }
}

div{
    width: 300px;
    background-color: rgb(141, 35, 35);
    border: 1px;
    border-color: #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    margin: 20px;
    padding: 20px;
}