@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

body{
    margin: 0%;
    
    header{
        margin-bottom: 5px;
        width: 100%;
        text-align: center;
        display:flex;
        align-items: center;
        padding: 0%;
        background: linear-gradient(rgb(71, 22, 22), rgb(153, 16, 16), rgb(71, 22, 22)) ;
        .logo{
            width: 3.5vw;
            padding: 0px;
        }
        h1{
            font-size: 4vw;
            padding: 0px;
            margin-bottom: 0px;
            margin-top: 0%;
            margin-right: 60%;
        }
        a button {
            background-color: rgb(153, 16, 16); 
            color: black;
            border: none;
            padding: 10px 15px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            border-radius: 5px;
            transition: 0.3s ease;
            box-shadow: 0 0 5px #0f0611;
        }
        a button:hover {
            background-color:rgb(118, 8, 8); 
            color: black;
        }
    
    
    }
    .banner{
        width: 100%;
    }

    .productos {
        padding:5px 20px;
        background: linear-gradient(rgb(71, 22, 22), rgb(153, 16, 16), rgb(71, 22, 22));
        text-align: center;
        h2 {
            text-align: center;
            font-size: 3.4vw;
            margin-bottom: 20px;
            margin-top: 1%;
            color: white;
        }
        
        .productos-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            margin: auto;
        }
        
        .producto { 
            background-color: rgb(255, 255, 255);
            padding: 10px;
            border-radius: 10px;
            transition: 0.3s;
            color: black;
            border: 5px solid black;
        }
        
        .producto img {
            width: 100%;
            border-radius: 10px;
        }
        
        .producto h3 {
            font-size: 2vw;
            margin: 10px 0;
        }
        
        .producto p {
            font-size: 1.75vw;
            color: rgb(153, 16, 16);
            font-weight:bold;
        }
    }
    h2{
        text-align: center;
    }
    form {
        background-color: #fff;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 45%;
        margin: 40px auto;
    }
    
    form label, form input, form textarea, form button {
        display: block;
        width: 97%;
        margin-bottom: 10px;
    }
    
    form input, form textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 6px;
    }
    
    form button {
        background-color: rgb(153, 16, 16);
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 6px;
        cursor: pointer;
        text-align: center;
        transition: background-color 0.3s ease;
        margin: auto;
    }
    
    form button:hover {
        background-color: rgb(118, 8, 8);
    }
    

    footer {
        background-color: #222;
        color: #fff;
        text-align: center;
        padding: 15px 0;
    }

    .titulo2{
        font-size: 40px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    table {
        width: 90%;
        margin: auto;
        margin-top: 20px;
        border-collapse: collapse;
        background-color: #ffffff;  
        text-align: center;   
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 10px #680b75;
        border: 1px solid black;
    }
    
    th {
        background: linear-gradient(rgb(71, 22, 22), rgb(153, 16, 16), rgb(71, 22, 22));
        color: rgb(255, 255, 255);
        padding: 12px;
        font-size: 16px;
        text-transform: uppercase;
        border: 1px solid black;
    }
    
    td {
        padding: 10px;
        border-bottom: 1px solid #d293fe;
        border: 1px solid black;
    }
    
    tr:hover {
        background-color:rgb(211, 125, 125); 
        transition: 0.3s ease-in-out;
    }

    .btn{
        font-size: 20px;
        border: 1px solid black;
        border-radius: 20px;
        background-color: rgb(153, 16, 16);
        text-decoration: none;
        padding: 8px;
        color: #222;
        
    }
    .tabla{
        text-align: center;
        background: linear-gradient(to bottom right, rgb(87, 85, 85),rgb(71, 22, 22), rgb(87, 85, 85));
        padding:20px;
    }

    .product{
        box-shadow: 2px 4px 8px black;
    }

    a i{
        font-size: 20px;
    }
    a{
        font-size: 20px;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        color: #0f0611;
    }
}

.bodyProduc{
    background-color: #222;
    h2{
        color: white;
    }
}
