.basico{
    width: 300px;  
    background-color: white; 
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
}

.fPerfil{
    width: 300px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 15px;
}

.nombre{
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.titulo{
    font-size: 18px;
    color: #666;
    text-align: center;
    margin-bottom: 15px;
}

.descripcion{
    font-size: 14px;
    color: #444;
    text-align: justify;
    margin-bottom: 15px;
}

ul{
    list-style: none;
    padding: 0;
    font-size: 50px;
    text-align: center;
}
li{
    display: inline-block;
    margin: 0 15px;
}
a{
    text-decoration: none;
}
.linkedin{
    color: #0077b5;
}
.twiter{
    color: #1DA1f2;
}
.github{
    color: #333;
}
i:hover{
    color: rgb(126, 11, 161);
}


